/* You can add global styles to this file, and also import other style files */
.p-0{
    padding: 0px;
}
.m-0{
    margin:0px;
}
.app-theme-color{
    background-color: #673ab7;
}
.theme-bg{
    background-color: #673ab7;
}
.white-color{
    color: #FFF;
}
.center-align-text{
    text-align: center;
}

