.example-full-width {
    width: 100%;
}
.create-new-contact {
    margin: 5% 20%;
}
.button-container{
    height: 50px;
    position: relative;
}
.centered-button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
